.u-section-1 {
  background-image: none;
  min-height: 641px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 641px;
  background-image: url("images/9930b97a-78dd-41e9-8f66-749227e23722.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 90px 30px 30px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 104px;
  min-width: 72px;
  animation-duration: 1000ms;
  margin: 546px 0 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 641px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 18px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 8.75rem;
  line-height: 1;
  font-weight: 600;
  animation-duration: 1000ms;
  margin: 43px 246px 0 -186px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-size: 6rem;
  line-height: 1;
  animation-duration: 1000ms;
  margin: 8px 246px 0 -20px;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  margin: -125px 90px 0 320px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 87px 149px 0 -91px;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 9px;
  margin: 149px 0 0;
}

.u-section-1 .u-btn-1 {
  animation-duration: 1000ms;
  font-size: 3.75rem;
  width: 352px;
  height: 89px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 513px;
  }

  .u-section-1 .u-image-1 {
    min-height: 529px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 122px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 529px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 22px;
    margin-right: -2px;
    margin-left: 302px;
  }

  .u-section-1 .u-text-4 {
    font-size: 3rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 359px;
  }

  .u-section-1 .u-image-1 {
    min-height: 405px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 277px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 711px;
  }

  .u-section-1 .u-image-1 {
    min-height: 608px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 8.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 431px;
  }

  .u-section-1 .u-image-1 {
    min-height: 383px;
  }

  .u-section-1 .u-text-1 {
    font-size: 7.5rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 177px;
  }
}